
.body{
    font-family: "adobe-clean", sans-serif;
    margin: 0;
}
  
.container{
    margin: 0px 120px 50px 120px;
}

h1,h2,a{
    text-align: center;
    font-weight: bold;
}
span:not(:first-child){
    padding: 0 0 0 30px;
}
p{
    text-align: center;
    margin: 20px 250px 0px 250px;
    font-size: 20px;
}
.menu{
    position: relative;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 120px 0px 120px;

  }
  
  .flex-item {
    border: solid 1px black;
    height: 500px;
    width: 32%;
  }
  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      align-items: center;
    }
  }

  img{
    width: 100%;
    height: 500px;
  }
  form{
    margin: 0px 450px 0px 450px;
  }
  input[type=text], select {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }